:root {
  --color-black: #ffffff;
  --color-color-blue-blue-100: #cef1fd;
  --color-color-blue-blue-200: #9ee3fa;
  --color-color-blue-blue-300: #6dd5f8;
  --color-color-blue-blue-400: #3dc7f5;
  --color-color-blue-blue-50: #e7f8fe;
  --color-color-blue-blue-500: #0ba6da;
  --color-color-blue-blue-600: #0a94c2;
  --color-color-blue-blue-700: #076f92;
  --color-color-blue-blue-800: #054a61;
  --color-color-blue-blue-900: #022531;
  --color-color-dark-dark-100: #ededed;
  --color-color-dark-dark-200: #c9cacf;
  --color-color-dark-dark-300: #aeafb7;
  --color-color-dark-dark-400: #93959f;
  --color-color-dark-dark-50: #f5f5f5;
  --color-color-dark-dark-500: #303136;
  --color-color-dark-dark-600: #60626c;
  --color-color-dark-dark-700: #484951;
  --color-color-dark-dark-800: #303136;
  --color-color-dark-dark-900: #18181b;
  --color-color-green-green-100: #dcfbd0;
  --color-color-green-green-200: #b8f7a1;
  --color-color-green-green-300: #95f372;
  --color-color-green-green-400: #71ee44;
  --color-color-green-green-50: #edfde8;
  --color-color-green-green-500: #40c111;
  --color-color-green-green-600: #3ebb11;
  --color-color-green-green-700: #2f8d0c;
  --color-color-green-green-800: #1f5e08;
  --color-color-green-green-900: #102f04;
  --color-color-orange-orange-100: #fae6d1;
  --color-color-orange-orange-200: #f5cca3;
  --color-color-orange-orange-300: #f0b375;
  --color-color-orange-orange-400: #eb9947;
  --color-color-orange-orange-50: #fcf2e8;
  --color-color-orange-orange-500: #dc7a18;
  --color-color-orange-orange-600: #b86614;
  --color-color-orange-orange-700: #8a4d0f;
  --color-color-orange-orange-800: #5c330a;
  --color-color-orange-orange-900: #2e1a05;
  --color-color-pink-pink-100: #f3d8e1;
  --color-color-pink-pink-200: #e8b0c3;
  --color-color-pink-pink-300: #dc89a5;
  --color-color-pink-pink-400: #d16186;
  --color-color-pink-pink-50: #f9ebf0;
  --color-color-pink-pink-500: #cb4d77;
  --color-color-pink-pink-600: #9e2e53;
  --color-color-pink-pink-700: #76233f;
  --color-color-pink-pink-800: #4f172a;
  --color-color-pink-pink-900: #270c15;
  --color-color-primary-primary-100: #d2e2f9;
  --color-color-primary-primary-200: #a6c6f2;
  --color-color-primary-primary-300: #79a9ec;
  --color-color-primary-primary-400: #4d8ce5;
  --color-color-primary-primary-50: #e9f1fc;
  --color-color-primary-primary-500: #4487e4;
  --color-color-primary-primary-600: #1a59b2;
  --color-color-primary-primary-700: #134386;
  --color-color-primary-primary-800: #0d2d59;
  --color-color-primary-primary-900: #06162d;
  --color-color-purple-purple-100: #d8d8f3;
  --color-color-purple-purple-200: #b1b1e7;
  --color-color-purple-purple-300: #8a8adb;
  --color-color-purple-purple-400: #6363cf;
  --color-color-purple-purple-50: #ececf9;
  --color-color-purple-purple-500: #4040c4;
  --color-color-purple-purple-600: #30309c;
  --color-color-purple-purple-700: #242475;
  --color-color-purple-purple-800: #18184e;
  --color-color-purple-purple-900: #0c0c27;
  --color-color-red-red-100: #ffd2cc;
  --color-color-red-red-200: #ffa599;
  --color-color-red-red-300: #ff7866;
  --color-color-red-red-400: #ff4b33;
  --color-color-red-red-50: #ffe8e5;
  --color-color-red-red-500: #cc1800;
  --color-color-red-red-600: #cc1800;
  --color-color-red-red-700: #991200;
  --color-color-red-red-800: #660c00;
  --color-color-red-red-900: #330600;
  --color-color-secondary-secondary-100: #d4e0f7;
  --color-color-secondary-secondary-200: #a8c0f0;
  --color-color-secondary-secondary-300: #7da1e8;
  --color-color-secondary-secondary-400: #5181e1;
  --color-color-secondary-secondary-50: #e9effb;
  --color-color-secondary-secondary-500: #2258c3;
  --color-color-secondary-secondary-600: #1e4eae;
  --color-color-secondary-secondary-700: #173b82;
  --color-color-secondary-secondary-800: #0f2757;
  --color-color-secondary-secondary-900: #08142b;
  --color-color-yellow-yellow-100: #fdf7ce;
  --color-color-yellow-yellow-200: #faf09e;
  --color-color-yellow-yellow-300: #f8e86d;
  --color-color-yellow-yellow-400: #f6e03c;
  --color-color-yellow-yellow-50: #fefbe7;
  --color-color-yellow-yellow-500: #e5cc0b;
  --color-color-yellow-yellow-600: #c3ad09;
  --color-color-yellow-yellow-700: #928207;
  --color-color-yellow-yellow-800: #615705;
  --color-color-yellow-yellow-900: #312b02;
  --color-opacity-black-bw-10: rgba(255, 255, 255, 0.1);
  --color-opacity-black-bw-20: rgba(255, 255, 255, 0.2);
  --color-opacity-black-bw-30: rgba(255, 255, 255, 0.3);
  --color-opacity-black-bw-40: rgba(255, 255, 255, 0.4);
  --color-opacity-black-bw-5: rgba(255, 255, 255, 0.05);
  --color-opacity-black-bw-50: rgba(255, 255, 255, 0.5);
  --color-opacity-black-bw-60: rgba(255, 255, 255, 0.6);
  --color-opacity-black-bw-70: rgba(255, 255, 255, 0.7);
  --color-opacity-black-bw-80: rgba(255, 255, 255, 0.8);
  --color-opacity-black-bw-90: rgba(255, 255, 255, 0.9);
  --color-opacity-primary-ps-10: rgba(68, 135, 228, 0.1);
  --color-opacity-primary-ps-20: rgba(68, 135, 228, 0.2);
  --color-opacity-primary-ps-30: rgba(68, 135, 228, 0.3);
  --color-opacity-primary-ps-40: rgba(68, 135, 228, 0.4);
  --color-opacity-primary-ps-5: rgba(68, 135, 228, 0.05);
  --color-opacity-primary-ps-50: rgba(68, 135, 228, 0.5);
  --color-opacity-primary-ps-60: rgba(68, 135, 228, 0.6);
  --color-opacity-primary-ps-70: rgba(68, 135, 228, 0.7);
  --color-opacity-primary-ps-80: rgba(68, 135, 228, 0.8);
  --color-opacity-primary-ps-90: rgba(68, 135, 228, 0.9);
  --color-opacity-secondary-sp-10: rgba(34, 88, 195, 0.1);
  --color-opacity-secondary-sp-20: rgba(34, 88, 195, 0.2);
  --color-opacity-secondary-sp-30: rgba(34, 88, 195, 0.3);
  --color-opacity-secondary-sp-40: rgba(34, 88, 195, 0.4);
  --color-opacity-secondary-sp-5: rgba(34, 88, 195, 0.05);
  --color-opacity-secondary-sp-50: rgba(34, 88, 195, 0.5);
  --color-opacity-secondary-sp-60: rgba(34, 88, 195, 0.6);
  --color-opacity-secondary-sp-70: rgba(34, 88, 195, 0.7);
  --color-opacity-secondary-sp-80: rgba(34, 88, 195, 0.8);
  --color-opacity-secondary-sp-90: rgba(34, 88, 195, 0.9);
  --color-opacity-white-wb-10: rgba(0, 0, 0, 0.1);
  --color-opacity-white-wb-20: rgba(0, 0, 0, 0.2);
  --color-opacity-white-wb-30: rgba(0, 0, 0, 0.3);
  --color-opacity-white-wb-40: rgba(0, 0, 0, 0.4);
  --color-opacity-white-wb-5: rgba(0, 0, 0, 0.05);
  --color-opacity-white-wb-50: rgba(0, 0, 0, 0.5);
  --color-opacity-white-wb-60: rgba(0, 0, 0, 0.6);
  --color-opacity-white-wb-70: rgba(0, 0, 0, 0.7);
  --color-opacity-white-wb-80: rgba(0, 0, 0, 0.8);
  --color-opacity-white-wb-90: rgba(0, 0, 0, 0.9);
  --color-primary: #4487e4;
  --color-secondary: #2258c3;
  --color-white: #000000;
  --content-typography-font-family-caveat: Caveat;
  --content-typography-font-family-noto-sans: Noto Sans;
  --content-typography-font-family-noto-sans-tc: Noto Sans TC;
  --content-typography-font-family-ping-fang-tc: PingFang TC;
  --content-typography-font-family-roboto: Roboto;
  --content-typography-font-family-rubik: Rubik;
  --content-typography-font-family-sf-pro: SF Pro;
  --content-typography-font-weight-black: Black;
  --content-typography-font-weight-bold: Bold;
  --content-typography-font-weight-light: Light;
  --content-typography-font-weight-medium: Medium;
  --content-typography-font-weight-regular: Regular;
  --content-typography-font-weight-semi-bold: SemiBold;
  --content-typography-language-chinese: Noto Sans;
  --content-typography-language-english: Roboto;
  --content-typography-language-hand-writing: Caveat;
}
